body {
  font-family: "Raleway", sans-serif;
}

/* header descripción */

.header_description {
  background-image: url("../img/bg-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#Mis-trabajos a{
  text-decoration: none;
}

hr {
  font-size: 15rem;
}

.card {
  border-radius: 1rem;
}

.image-top {
  border-radius: 1rem;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
